@import url('variables.css');

.overlay {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    opacity: 0.6;
    display: none;
}

.overlay-activated {
    display: block;
}

.nav-bar {
    width: 100%;
    height: 80px;
    background-color: var(--bg-color-secondary);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
    gap: 10px;
    box-shadow: var(--box-shadow-primary);
    z-index: 998;
    position: sticky;
    top: 0;
}

.nav-bar div {
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
}

.hamburger-wrapper {
    width: 45px!important;
    height: 45px!important;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: 0.09s ease-in-out;
}

.hamburger-wrapper span {
    width: 65%;
    height: 2px; /* Set a fixed height for the spans */
    border-radius: 3px;
    background-color: var(--txt-color);
    box-shadow: var(--box-shadow-txt);
}

.middle-navbar {
    display: flex;
    justify-content: center;
}

.middle-navbar h1 {
    color: var(--accent-color-original);
    font-size: 35px;
    text-shadow: var(--box-shadow-txt);
    cursor: pointer;
    font-weight: 500;
}

.right-navbar {
    display: flex;
    justify-content: end;
    padding-right: 15px;
}

.ul-nav-links-navbar {
    display: flex;
    gap: 10px;
    list-style: none;
}

.ul-nav-links-navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    text-shadow: var(--box-shadow-txt);
    color: var(--txt-color);
}

.ul-nav-links-navbar li a:hover {
    color: var(--accent-color-secondary-original);
}

.sidebar {
    width: 25%;
    height: 100%;
    background-color: red;
    position: fixed;
    z-index: 1000;
    box-shadow: 3px 0px 8px #00000031;
    left: -350px;
    transition: 0.2s ease-in-out;
}

.sidebar-top {
    width: 100%;
    height: 100px;
    background: var(--accent-color);
    box-shadow: 0px 3px 8px #00000031;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 150;
}

.sidebar-top-top {
    width: 100%;
    height: 25px!important;
    display: flex;
    justify-content: end;
    padding: 10px;
    padding-top: 20px;
    align-items: center;
}

.sidebar-top-top img {
    cursor: pointer;
    z-index: 1000;
}

.sidebar-top-bottom {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: -5px;
}

.sidebar-top-bottom h1 {
    font-size: 30px;
}

.sidebar-bottom {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-secondary);
}

.sidebar-bottom-ul {
    height: auto;
    width: 100%;
}

.sidebar-bottom-ul li {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #2c2c2c;
}

.sidebar-bottom-ul li:hover {
    background-color: #222;
}

.sidebar-bottom-ul li a {
    text-decoration: none;
    color: var(--txt-color);
    font-size: 19px;
}

.sidebar-activated {
    position: fixed;
    left: 0;
}
/*Hero Section*/

.hero {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.slider-container {
    max-width: 1300px;
    width: 100%;
    height: 450px!important;
    border-radius: 5px;
    position: relative;
    box-shadow: var(--box-shadow-primary);
}

.top-slider-container {
    max-width: 1000px;
    min-width: 500px;
    width: 100%;
    height: 10%;
    margin-top: -50px;
}

.top-slider-container h1 {
    color: var(--txt-color);
    font-weight: 300;
    text-shadow: var(--box-shadow-txt);
}

.slider-container button {
    width: 50px;
    height: 50px;
    top: 0;
    border-radius: 50%;
    display: flex;
    align-self: center;
    bottom: 0;
    position: absolute;
    background: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    box-shadow: var(--box-shadow-txt);
    z-index: 10;
}

.slider-container-left-btn {
    top: 0;
    left: 10px;
}

.slider-container-right-btn {
    top: 0;
    right: 10px;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slider-content {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.slider-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    opacity: 0.8;
    box-shadow: inset var(--box-shadow-primary);
}

.slider-p {
    top: 30%;
    left: 7%;
    font-size: 20px;
    z-index: 11;
    position: absolute;
    width: 400px;
    overflow: hidden;
    font-size: 24px;
    font-weight: 500;
    padding-left: 10px;
    color: var(--txt-color);
    text-shadow: var(--box-shadow-txt);
    color: var(--txt-color);
}

.slider-btn {
    padding: 10px 20px;
    border: none;
    background: var(--accent-color);
    color: white;
    border-radius: 5px!important;
    cursor: pointer;
    width: auto!important;
    position: absolute!important;
    left: 7%;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

/* Button styles */
.slider-container-left-btn, .slider-container-right-btn {
    position: absolute;
    top: 50%;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.slider-container-left-btn {
    left: 10px;
}

.slider-container-right-btn {
    right: 10px;
}

.first-info {
    width: 100%;
    height: auto;
    background-color: var(--bg-color-subtle);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    z-index: 100;
}

.first-info div div p {
    color: var(--txt-color);
}

.first-info-top {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    gap: 10px;
    text-shadow: var(--box-shadow-txt);
}

.first-info-img {
    height: 200px!important;
    width: 200px!important;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: var(--box-shadow-primary);
    z-index: 100;
}

.first-info-bottom {
    display: flex;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
    z-index: 100;
    padding-bottom: 20px;
}

.second-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    background-color: var(--bg-color-subtle);
}

.second-info div img {
    border-radius: 10px;
    box-shadow: var(--box-shadow-primary);
    max-width: 100%;
}

.second-info div p {
    color: var(--txt-color);
    text-shadow: var(--box-shadow-txt);
}

.third-info {
    display: flex;
    padding: 20px;
    gap: 10px;
    height: 400px;
}

.third-info-img-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    min-height: 100px;
}

.third-info-img-div img {
    border-radius: 10px;
    box-shadow: var(--box-shadow-primary);
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;
    height: 100%;
}

.third-info-div {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
    text-align: center;
}

.third-info-p-div {
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
}

.third-info-p-div p {
    color: var(--txt-color);
    text-shadow: var(--box-shadow-txt);
}

footer {
    width: 100%;
    height: 150px;
    background-color: var(--bg-color-secondary);
    display: flex;
    align-items: center;
}

.footer-top {
    width: 38%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.footer-top ul {
    list-style: none;
}

.footer-top ul li a {
    color: var(--txt-color);
    text-decoration: none;
}

.footer-top ul li a:hover {
    color: var(--accent-color-secondary-original);
}