:root {
    --bg-color: #121212;
    --bg-color-secondary: #232323;
    --bg-color-subtle: #171717;
    --bg-color-accent: rgb(118, 118, 118);

    --accent-color: linear-gradient(to right, #1ABC9C, #14977d);
    --accent-color-secondary: linear-gradient(to right, #2ECC71, #2baf62);
    --accent-color-secondary-original: #31bc6b;
    --accent-color-original: #1ABC9C;

    --txt-color: #F0F0F0;
    --txt-color-secondary: #AAAAAA;

    --border-color: #242424;

    --box-shadow-primary: 0px 0px 6px #00000018;
    --box-shadow-txt: 1px 1px 3px #0000002b;
}
